@import './../../../variables.scss';

#About{
    background-color: $color-white;
    padding: 0 2vw 0 3vw;
    text-align: center;
}

#About-Title{
    padding: 3% 1vw 4% 0 ;
}

.About-Content {
    text-align: left;
    display: flex;
    gap: 7%;
    align-items:flex-end;

    p{
        font-size: 1.1em;
    }
}

.About-Image{
    pointer-events: none;
    user-select: none;
    height: fit-content;
    max-width: 50%;
}

.About-Text{
    max-width: 50%;
    margin: 0 6% 5% 0;
}

@media (max-aspect-ratio: 10/16), (max-width: 1079px){
    #About-Title{
        padding:6% 0 10% 0;
    }
    .About-Content{
        flex-direction: column-reverse;
        gap: 15px;
    }
    
    .About-Image{
        height: fit-content;
        max-width: 100%;
    }

    .About-Text{
        max-width: 100%;
        margin: 0 0 4% 0;
    }
}