@import './../../../variables.scss';
#Services{
    margin: 0;
    padding: 0;
    width: auto;
}

.Services-Border, .Services-Border2{
    pointer-events: none;
    user-select: none;
    margin: -28px 0 0 0;
    height: 61px;
    width: 100%;
    object-fit: cover;
}

.Services-Border2 {
    margin: -10px 0 0 0;
}

.Services-Content{
    text-align: center;
    margin: -10px 0 0 0;
    background-color: $color-primary;
    padding: 3%;
    
}

.Services-Content-Text{
    max-width: 47.5%;
    padding: 3% 0 4% 0;
    margin-left: auto;
    margin-right: auto;
    
}

.Services-Text-Left{
    text-align: justify;
}

.Services-Text-Left::before {
    display:inline-block;
    content: ' ';
    vertical-align: middle;
    white-space: pre;
    margin-left: -5em;
    margin-right: 2em;
    background-image: url('./../../../assets/svgs/Dev-Icon.svg');
    background-size: 3em 3em;
    height: 3em;
    width: 3em;
  }

.Services-Text-Left2{
    text-align: justify;
    letter-spacing: 0.81px;
}

.Services-Text-Left2::before {
    display:inline-block;
    content: ' ';
    vertical-align: middle;
    white-space: pre;
    margin-left: -5em;
    margin-right: 2em;
    background-image: url('./../../../assets/svgs/Marketing-Icon.svg');
    background-size: 3em 3em;
    height: 3em;
    width: 3em;
  }

.Services-Text-Right{
    text-align: right;
}

.Services-Text-Right::after {
    display:inline-block;
    content: ' ';
    vertical-align: middle;
    white-space: pre;
    margin-right: -5em;
    margin-left: 2em;
    background-image: url('./../../../assets/svgs/Design-Icon.svg');
    background-size: 3em 3em;
    height: 3em;
    width: 3em;
  }

.Services-Content h1, .Services-Content h3, .Services-Content p{
    color: $color-white;
}

.Services-Content p{
    padding: 6% 3%;
}

@media (min-aspect-ratio: 2/1){
    .Services-Content-Text{
        max-width: 42.5%;
    }
}

@media (max-aspect-ratio: 2/1){
    .Services-Content-Text{
        max-width: 47.5%;
    }
}

@media (max-aspect-ratio: 16/9){
    .Services-Content-Text{
        max-width: 47.65%;
    }
}
@media (max-aspect-ratio: 16/10){
    .Services-Content-Text{
        max-width: 55.9%;
    }
}
@media (max-aspect-ratio: 4/3){
    
    .Services-Text-Left, .Services-Text-Left2, .Services-Text-Right{
        text-align: center;
    }

    .Services-Text-Left::before, .Services-Text-Left2::before, .Services-Text-Right::after{
        display: none;
    }

    .Services-Content-Text{
        max-width: 90%;
    }
}
@media (max-aspect-ratio: 3/4){
    .Services-Content-Text{
        max-width: 90%;
    }
}
@media (max-aspect-ratio: 10/16){

    .Services-Content-Text{
        max-width: 90%;
    }
}