@import './../../../variables.scss';

#Packs{
    padding: 3% 0;
    text-align: center;
}

    
.Packs-Start{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    padding: 3.5% 0 0;
    gap: 10%
}

.Packs-Start div{
    width: 16.5%;
}


.Packs-Start div img{
    height: 1.85em;
}

.Packs-Button{
    margin: auto;
    max-width: 25%;
    user-select: none;
    color: $color-white;
    padding: 3vh 0;
    background-color: $color-primary;
    border-radius: 0.4em;
    cursor: pointer;
    transition: background-color ease 200ms;
}

.Packs-Button:hover{
    background-color: $color-primary-darker;
}

.Packs-Dark-Red-Button{
    background-color: $color-dark-red;
}

.Packs-Dark-Red-Button:hover{
    background-color: $color-dark-red-darker;
}



#Packs-Basic, #Packs-Advanced, #Packs-Supreme {
    max-width: 100%;
    margin-top: 3vh;
}

#Packs-Basic{
    background-color: $color-green;
}

#Packs-Advanced{
    background-color: $color-red;
}

#Packs-Supreme{
    background-color: $color-blue;
}

#Packs-Basic:hover{
    background-color: $color-green-darker;
}

#Packs-Advanced:hover{
    background-color: $color-red-darker;
}

#Packs-Supreme:hover{
    background-color: $color-blue-darker;
}

.Packs-Carousel{
    margin: 5% 0 2%;
    overflow-x: hidden;
}

#Packs-Inner{
    position: relative;
    width: 300vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
}

.Packs-1{
    height: 100%;
    right: 0;
    transition: right ease 700ms;
}

.Packs-2{
    height: 100%;
    right: 100vw;
    transition: right ease 700ms;
}

.Packs-3{
    height: 100%;
    right: 200vw;
    transition: right ease 700ms;
}

.Packs-Content-Basic, .Packs-Content-Advanced, .Packs-Content-Supreme{
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 1.5% 2%;

    h4{
        margin-top: 7vh;
    }
}

.Packs-Content-Basic{
    background-color: $color-green;
}

.Packs-Content-Advanced{
    background-color: $color-red;
}

.Packs-Content-Supreme{
    background-color: $color-blue;
}

.Packs-Content-Flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Packs-Content-Flex img{
    width: 25%;
}

.Packs-Content-Flex p{
    text-align: left;
    margin-top: 2%;
    margin-left: 5%;
}

.Packs-Text-White{
    color:$color-white;
}

@media (max-aspect-ratio: 4/3){
    .Packs-Start div{
        width: 20%;
    }
    .Packs-Button{
        max-width: 45%;
    }

    .Packs-Content-Flex{
        flex-direction: column;
        padding: 2% 0;
    }

    .Packs-Content-Flex img{
        padding: 4% 0;
    }

}