#VideoPlayerPop{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    align-items:flex-start;
    justify-content: left;
    opacity: 0%;
    pointer-events: none;

    &.Active{
        opacity: 100%;
        pointer-events: all;
    }
    transition: opacity ease 400ms, display 0s ;
}

.VideoPlayerPop-Background{
    position: absolute;
    top: 0;
    width: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba($color: #000000, $alpha: 0.8);
}

.VideoPlayerPop-Video{
    top: 20%;
    position: relative;
    margin: auto;
    width: fit-content;
    max-width: 55%;
}

@media (max-aspect-ratio: 4/3){
    .VideoPlayerPop-Video{
        max-width: 80%;
    }
}

@media (max-aspect-ratio: 3/4){
    .VideoPlayerPop-Video{
        max-width: 100%;
    }
}

