@import './../../variables.scss';

#Header{
    text-align: center;
    margin: 0;
    padding: 0 0 0;
    width: auto;
}

.Header-Content{
    text-align: center;
    margin: 0 0 0 0;
    background-color: $color-primary;
    padding: 6% 3% calc(10px + 2%);     

    h1, h2, h3, p{
        color: $color-white;
        margin: 2% 0;
    }

    p{
        margin:0 10% 0;
    }
}

.Header-Border {
    pointer-events: none;
    user-select: none;
    height: 61px;
    width: 100%;
    object-fit: cover;
    margin: -10px 0 0 0;
}

@media (max-aspect-ratio: 1/1){

    .Header-Content{
        padding:10% 3% calc(10px + 2%);
    }

}