$color-primary: #072d2c;
$color-primary-darker: #001a19;
$color-primary_light: #d1e5de;
$color-green: #698b69;
$color-green-darker: #597a59;
$color-red: #9f7895;
$color-red-darker: #906884;
$color-dark-red: #680242;
$color-blue: #427f71;
$color-blue-darker: #307060;
$color-white: #fcfcfc;