@import './../../../variables.scss';

#Cover{
    height: 123vh;
    background-image: url(../../../assets/imgs/Cover.png);
    background-color: $color-white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
}

.Cover-Main{
    height: 90%;
    display: flex;
    justify-content: center;
}

.Cover-Title {
    margin-top: 7vh;
    text-align: center;
    text-shadow: -1.5px -1.5px $color-white, 1.5px 1.5px $color-white, 1.5px -1.5px $color-white, -1.5px 1.5px $color-white; 
    h1{
        font-size: 3.7em;
    }
}

.Cover-Space{
    display: none;
    width: 0%;
}


.Cover-Text-White {
    color: $color-white;
    text-align: center;
}

@media (min-aspect-ratio: 3/4){
    .Cover-Space{
        display: initial;
        width: 32em;
    }
    .Cover-Main{
        justify-content: right;
    }

    .Cover-Title{
        margin-top: 28.25vh;

        h1{
            font-size: 4.25em;
        }
    }
}

@media (min-aspect-ratio: 4/3){
    .Cover-Space{
        width: 16em;
    }
}

@media (min-aspect-ratio: 16/9){
    .Cover-Space{
        width: 18em;
    }
}

@media (min-aspect-ratio: 32/17){
    .Cover-Space{
        width: 15em;
    }
}

@media (min-aspect-ratio: 2/1){
    .Cover-Space{
        width: 28%;
    }
}

@media (max-width: 768px){
    .Cover-Title {
        text-shadow: -0.75px -0.75px $color-white, 0.75px 0.75px $color-white, 0.75px -0.75px $color-white, -0.75px 0.75px $color-white; 
    }
}